<header>

    <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">

            <div class="container-logo" routerLink="">
                <img src="logo header laranja 2.0.png" alt="" class="logo">
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div class="navbar-end">

            <div class="navbar-start">

                <a class="navbar-item" routerLink="quem-somos">
                    Quem Somos
                </a>

                <a class="navbar-item" routerLink="apecam-lovers">
                    Apecam Lovers
                </a>

                <a class="navbar-item" routerLink="modalidades">
                    Modalidades
                </a>

                <a class="navbar-item" routerLink="historia-esporte-paralimpico">
                    História do Esporte Paralímpico
                </a>

                <a class="navbar-item" routerLink="quero-doar">
                    Quero Doar
                </a>

                <a class="navbar-item" routerLink="contato">
                    Contato
                </a>

                <a class="navbar-item" routerLink="galeria">
                    Galeria
                </a>

            </div>

        </div>

    </nav>

</header>
