header{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 6rem;
    position: fixed;
    z-index: 9999;
}


.container-logo{
    padding: 1rem;
    cursor: pointer;
}

.logo{
    width: 100%;
    max-width: 180px;
    height: auto;
}

.navbar{
    height: 6rem;
    /* border-bottom: 0.1rem solid #FF6634; */
}

.quero-doar{
    background-color: #FF6634;
    color: #fff;
    transition: all 0.4s ease;
}

.quero-doar:hover{
    font-weight: 800;
}

.navbar-burger {
    color: #FF6634;
    width: 4.5rem;
    height: 4.5rem;
}

.navbar-burger span {
    height: 3px;
    width: 24px;
    left: calc(50% - 12px);  /* Centraliza as linhas */
}

/* restaurado ao estilo original (sem hover custom) */

@media(max-width: 1024px) {
    .navbar-end{
        display: none;
    }
}
