:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

@media(max-width: 349px){
    .title {
        font-size: 2rem !important;
    }
}