<section class="section">
	<div class="container">
		<h1 class="title is-3">APECAM LOVERS</h1>
		<p class="subtitle">Seja parte do nosso time!</p>
		<div class="content">
			<p>Bem-vindo à APECAM - Associação Paradesportiva de Camboriú.</p>
			<p>Estamos buscando indivíduos apaixonados, dedicados e comprometidos para se juntarem à nossa causa. Se você está procurando uma maneira gratificante de contribuir para a comunidade e fazer a diferença na vida das pessoas, aqui está a sua oportunidade.</p>
		</div>

		<div class="columns is-multiline">
			<div class="column is-12-tablet is-4-desktop">
				<div class="box">
					<h2 class="title is-5">Atletas</h2>
					<p>Se você é uma pessoa com deficiência que adora esportes ou está interessada em começar uma jornada no mundo paradesportivo, estamos de portas abertas. Nossos treinadores experientes e equipe de apoio oferecem suporte individualizado para que você possa desenvolver suas habilidades e competir no mais alto nível.</p>
				</div>
			</div>
			<div class="column is-12-tablet is-4-desktop">
				<div class="box">
					<h2 class="title is-5">Voluntários</h2>
					<p>Se você não é um atleta, mas deseja ser parte integrante do nosso sucesso, tornar-se um voluntário é uma maneira incrível de se envolver. Oferecemos várias oportunidades, desde auxiliar nos eventos esportivos até ajudar em nossas iniciativas de conscientização. Sua contribuição é fundamental.</p>
				</div>
			</div>
			<div class="column is-12-tablet is-4-desktop">
				<div class="box">
					<h2 class="title is-5">Apoiadores/Patrocinadores</h2>
					<p>Nossa missão só é possível graças ao apoio de parceiros e patrocinadores generosos. Se você ou sua empresa acreditam em promover a inclusão e o esporte paradesportivo, junte-se a nós. Sua colaboração ajuda a fornecer recursos, equipamentos e oportunidades para nossos atletas e programas.</p>
				</div>
			</div>
		</div>

		<div class="box">
			<h3 class="title is-6">Entre em contato</h3>
			<p><strong>Telefone:</strong> (47) 99618-6532</p>
			<p><strong>E-mail:</strong> apecam@apecamcamboriu.com</p>
		</div>
	</div>
</section>
