<section class="section">
	<div class="container">
		<h1 class="title is-3">APECAM LOVERS</h1>
		<p class="subtitle">Seja parte do nosso time!</p>
		<div class="content">
			<p>Bem-vindo à APECAM - Associação Paradesportiva de Camboriú.</p>
			<p>Estamos buscando indivíduos apaixonados, dedicados e comprometidos para se juntarem à nossa causa. Se você está procurando uma maneira gratificante de contribuir para a comunidade e fazer a diferença na vida das pessoas, aqui está a sua oportunidade.</p>
		</div>

		<div class="columns is-multiline">
			<div class="column is-12-tablet is-4-desktop">
				<div class="box">
					<h2 class="title is-5">Atletas</h2>
					<p>Se você é uma pessoa com deficiência que adora esportes ou está interessada em começar uma jornada no mundo paradesportivo, estamos de portas abertas. Nossos treinadores experientes e equipe de apoio oferecem suporte individualizado para que você possa desenvolver suas habilidades e competir no mais alto nível.</p>
				</div>
			</div>
			<div class="column is-12-tablet is-4-desktop">
				<div class="box">
					<h2 class="title is-5">Voluntários</h2>
					<p>Se você não é um atleta, mas deseja ser parte integrante do nosso sucesso, tornar-se um voluntário é uma maneira incrível de se envolver. Oferecemos várias oportunidades, desde auxiliar nos eventos esportivos até ajudar em nossas iniciativas de conscientização. Sua contribuição é fundamental.</p>
				</div>
			</div>
			<div class="column is-12-tablet is-4-desktop">
				<div class="box">
					<h2 class="title is-5">Apoiadores/Patrocinadores</h2>
					<p>Nossa missão só é possível graças ao apoio de parceiros e patrocinadores generosos. Se você ou sua empresa acreditam em promover a inclusão e o esporte paradesportivo, junte-se a nós. Sua colaboração ajuda a fornecer recursos, equipamentos e oportunidades para nossos atletas e programas.</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<h2 class="title">"Seja um Apecam Lover e junte-se a nós na promoção da inclusão pelo esporte."</h2>
		</div>
	</div>
</section>
<section class="investors-strip">
	<div class="container">
		<h3 class="title is-4 has-text-centered">Patrocinadores</h3>
		<div class="patrocinadores">
			<a class="logo-wrapper" href="https://www.linkedin.com/company/fg-empreendimentos/?originalSubdomain=br" target="_blank">
				<img class="logo" src="apecam/logo-fg.webp" alt="Logo FG Empredimentos" loading="lazy">
			</a>
		</div>
		<h3 class="title is-4 has-text-centered">Apoiadores</h3>
		<div class="apoiadores">
			<a class="logo-wrapper" href="https://www.empresaqui.com.br/" target="_blank">
				<img class="logo" src="apecam/logo-empresaqui.webp" alt="Logo Empresa Aqui" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.camboriu.ifc.edu.br/" target="_blank">
				<img class="logo" src="apecam/logo-ifc.webp" alt="Logo IFC Camboriú" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.santainnhotel.com.br/" target="_blank">			 
				<img class="logo" src="apecam/logo-santa-inn-hotel.webp" alt="Logo Santa Inn Hotel" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.sicredi.com.br/home/" target="_blank">
				<img class="logo" src="apecam/logo-sicredi.webp" alt="Logo Sicredi" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.instagram.com/nunosom/" target="_blank">
				<img class="logo" src="apecam/logo-nuno-som.webp" alt="Logo Nuno Som" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.instagram.com/lojaprerequisito/" target="_blank">
				<img class="logo" src="apecam/logo-pre-requisito.webp" alt="Logo Loja Pré Requisito Camboriú" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.instagram.com/pizzahotbc_oficial/" target="_blank">
				<img class="logo" src="apecam/logo-pizza-hot.webp" alt="Logo Pizza Hot Camboriú" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.instagram.com/fmedecamboriu/" target="_blank">
				<img class="logo" src="apecam/logo-fundacao-esporte-camburiu.webp" alt="Logo Fundação Esporte Camboriú" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.facebook.com/p/Secretaria-Municipal-de-Educa%C3%A7%C3%A3o-de-Cambori%C3%BA-100064346966355/?locale=pt_BR" target="_blank">
				<img class="logo" src="apecam/logo-secretaria-educacao-de-camburiu.webp" alt="Logo Secretaria de Educação de Camboriú" loading="lazy">
			</a>
			<a class="logo-wrapper" href="https://www.camboriu.ifc.edu.br/ensino-2/napne/" target="_blank">
				<img class="logo" src="apecam/logo-napne-ifc.webp" alt="Logo Napne IFC" loading="lazy">
			</a>
		</div>
	</div>
</section>
