<section class="section modalidades">
	<div class="container">
		<h1 class="title is-3">Modalidades</h1>

		<div class="box">
			<h2 class="title is-5">Bocha Paralímpica</h2>
			<p>A Bocha Paralímpica é mais do que um esporte; é uma jornada de superação, inclusão e resiliência. Na APECAM, acreditamos no poder transformador do esporte, e a Bocha Paralímpica é uma expressão vívida desse compromisso.</p>
			<p>A inclusão da Bocha Paralímpica nos Jogos Paralímpicos começou em 1984. Desde então, tem proporcionado aos atletas com deficiência física a oportunidade de se destacarem e superarem desafios. Na APECAM, abraçamos essa modalidade como parte integrante de nossa missão de oportunizar a prática esportiva a todas as pessoas com deficiência.</p>
			<p>Nossos atletas de Bocha Paralímpica não apenas competem, mas também inspiram. Cada lançamento é um testemunho de força, habilidade e determinação. Trabalhamos para criar um ambiente que nutra o potencial de cada atleta, com treinamento físico e apoio emocional e social.</p>
		</div>

		<div class="box">
			<h2 class="title is-5">Atletismo Paralímpico</h2>
			<p>No coração da prática esportiva na APECAM, o Atletismo Paralímpico se destaca como uma disciplina que transcende limites e desafia expectativas. É uma corrida de habilidades sobre limitações, e na APECAM, estamos comprometidos em levar essa corrida para um novo patamar.</p>
			<p>Em nossa organização, cada atleta é incentivado a descobrir e desenvolver seu potencial máximo, seja correndo, saltando ou lançando. O atletismo é uma jornada de autodescoberta, disciplina e perseverança.</p>
		</div>

		<div class="box">
			<h2 class="title is-5">Parabadminton</h2>
			<p>O parabadminton é uma poderosa ferramenta de transformação e inclusão social. Desde 2021, nossa missão tem sido criar oportunidades para crianças, adolescentes e adultos com deficiência, promovendo saúde, bem-estar e o espírito esportivo em um ambiente acolhedor.</p>
			<p>As atividades acontecem em ambiente adaptado e seguro, com equipamentos adequados e acompanhamento necessário para garantir que todos superem desafios e desenvolvam seu potencial.</p>
		</div>

		<div class="box">
			<h2 class="title is-5">Tênis de mesa</h2>
			<p>O tênis de mesa combina agilidade, concentração e estratégia. Adaptado para o paradesporto, é inclusivo e acolhe pessoas com diferentes tipos de deficiência, promovendo integração social e desenvolvimento físico e mental.</p>
			<p>Com equipamentos adequados e profissionais capacitados, oferecemos treinos e competições que incentivam habilidades motoras finas, reflexos rápidos e pensamento estratégico, além de autoestima e inclusão.</p>
		</div>
	</div>
</section>
